body {
  font-size: 14px;
  height: 100vh;
}

*,
*:focus {
  outline: 0!important;
}

.navbar {
  min-height: 32px;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  color: #fff;
}

.navbar .navbar-collapse {
  overflow: visible;
  padding: 0;
}

.navbar .navbar-toggle {
  padding: 5px 10px;
}

.navbar .navbar-brand {
  font-size: inherit;
  height: 55px;
  line-height: 100%;
}

.btn.btn-default {
  color: #444;
  background-color: #FAFAFA;
}

.btn {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  font-weight: 500;
  letter-spacing: .01em;
  border: none;
}

textarea.code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 13px;
  min-height: 250px;
  resize: vertical;
  color: #000;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.sidebar {
  display: none;
  background: #fafafa;
  margin-top: 2px;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;
}

.btn-go-back {
  margin-top: -5px;
}

.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}


.nav-sidebar > li > a {
  color: #7a7a7a;
  padding: 7px 0 7px 16px;
}


.nav-sidebar> li > a:hover, 
.nav-sidebar> li > a:focus {
  background: none;
  color: #1378b9;
}

.nav-sidebar > li.active > a {
  color: #2196F3;
}


.main {
  padding: 0;
}

.main .page-header {
  margin-top: 0;
}

.file-tree ul.nav.nav-sidebar {
  margin: 0;
  padding: 0;
  padding-left: 12px;
}

.file-tree ul.nav.nav-sidebar:first-child {
  padding-left: 0;
}

.file-tree ul.nav.nav-sidebar.file-tree-root > li {
  border-left: none;
  padding-left: 0px;
}

.table td {
  vertical-align: middle;
}

#context-menu {
  position: absolute;
  display: none;
  z-index: 9999;
}

.iconset {
  padding: 10px;
}

.col-120 {
  width: 250px;
  max-height: 275px;
  float: left;
  margin-bottom: 9px;
  margin-right: 9px;
}

.col-120:last-child {
  margin-right: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently */
}

.iconset .thumbnail {
  border-radius: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  padding: 10px 0;
  border: none;
  background: none;
}

.table-files .selected,
.iconset .thumbnail.selected {
  background: #2196F3;
}

.iconset .thumbnail.selected,
.table-files .selected td,
.table-files .selected td a {
  color:#fff;
}

.iconset .thumbnail .item-icon {
  font-size: 110px;
  height: 250px;
}

.detail-sources {
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #fff;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset -1px -1px 0 rgba(0, 0, 0, .07);
}

::-webkit-scrollbar:hover {
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  min-height: 0.8em;
  min-width: 0.8em;
  background-color: rgba(0, 0, 0, .2);
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset -1px -1px 0 rgba(0, 0, 0, .07);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}

::-webkit-scrollbar-thumb:active {
  background-color: #888;
}

.dropdown-menu {
  font-size: 14px;
}

.dropdown-menu > li > a {
  padding: 6px 20px;
}

.dropdown-menu > li > a > i {
  margin-right: 4px;
}

.dropdown-menu.dropdown-right-click {
  display: block;
  position: static;
  margin-bottom: 5px; 
}

.dropdown-menu.dropdown-right-click .divider {
  margin: 3px 0;
}

.upload-dragover .main {
  opacity: .4;
}

.upload-dragover:before {
  content: "\e198";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  color: #2196F3;
  font-size: 8em;
  font-family: 'Glyphicons Halflings';
}

.upload-list {
  margin-top: 20px;
}

.spinner-wrapper {
  margin: 0 auto;
  text-align: center;
  margin-top: 8%;
}

a:hover,
a:active,
a:focus,
table th > a:hover,
table th > a:active,
table th > a:focus {
  text-decoration: none;
}

.sortorder:after {
  color: #2196f3;
  content: '\25bc';
}

.sortorder.reverse:after {
  color: #2196f3;
  content: '\25b2';
}

[ng\:cloak], [ng-cloak],
[data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak {
  display: none !important;
}

.mr2 {
  margin-right: 2px;
}

.mr5 {
  margin-right: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mb0 {
  margin-bottom: 0;
}

.pointer {
  cursor: pointer;
}

.block {
  display: block;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bold {
  font-weight: bold;
}

.main {
  overflow-y: auto;
}

@media (min-width: 768px) {
  .main {
    padding-right: 0;
    padding-left: 0;
  }

  /* The view should fill all available vertical space */
  angular-filemanager > div,.row,.main,.sidebar {
    height: 100%;
  }

  .container-fluid {
    height: -webkit-calc(100% - 58px);
    height: -moz-calc(100% - 58px);
    height: calc(100% - 58px);
  }

  .sidebar {
    display: block;
  }
}

.selected-file-details {
  padding-left: 20px;
}

.item-extension::after {
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  content: attr(data-ext);
  left: 15px;
  position: absolute;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  top: 75px;
}

.selected .item-extension::after {
  color: #2196F3;
}

.form-control.search-input {
  max-width: 20em;
  display: inline;
}

.like-code {
  display: inline;
}

.point {
  margin-right: 8px;
  font-size: 10px;
}

.navbar .btn.btn-flat {
  padding: 2px;
  width: 32px;
  height: 30px;
  margin-left: 5px;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background: #fff;
}

.navbar-inverse .navbar-form input[type="text"] {
  color: #7a7a7a;
  box-shadow: none;
  margin: 0 10px;
}

.navbar .navbar-form {
  border-bottom: none;
  border-top: none;
  box-shadow: none;
  padding: 0;
  margin: 12px 0;
}

.breadcrumb {
  background: none; 
  padding: 0;
  font-size: 17px;
  margin: 12px 0;
  overflow: hidden;
  max-height: 30px
}

.breadcrumb>.active,
.breadcrumb a {
  color: #fff;
}

.breadcrumb>li+li:before {
  font-family: 'Glyphicons Halflings';
  content: "\e080";
  font-size: 12px;
  color: #fff;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.btn.btn-flat {
  background: none;
  color: #fff;
}

.btn-group.open > .btn-flat,
.btn.btn-flat,
.btn.btn-flat:active {
  box-shadow: none;
}

.btn.btn-flat > i {
  font-size: 18px;
  width: 18px;
  height: 18px;
  line-height: 100%;
}

.dropdown-menu {
  min-width: 300px !important;
}

#imagecrop-target {
  max-width: 100%;
}